In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/itub_2021.parquet')

In [3]:
df

             open  close  next_open  overnight
date
2021-01-04  31.98  30.90      30.73  -0.005502
2021-01-05  30.73  30.70      30.98   0.009121
2021-01-06  30.98  31.55      31.65   0.003170
2021-01-07  31.65  32.83      32.93   0.003046
2021-01-08  32.93  32.82      32.47  -0.010664
...           ...    ...        ...        ...
2021-12-22  21.23  21.23      21.33   0.004710
2021-12-23  21.33  21.34      21.48   0.006560
2021-12-27  21.48  21.56      21.63   0.003247
2021-12-28  21.63  21.48      21.53   0.002328
2021-12-29  21.53  21.30      21.44   0.006573

[246 rows x 4 columns]