In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/itub_2021.parquet')

In [4]:
divs_df = pd.read_parquet('data/itub_divs_2021.parquet')

In [3]:
df

             open  close  next_open  overnight
date
2021-01-04  31.98  30.90      30.73  -0.005502
2021-01-05  30.73  30.70      30.98   0.009121
2021-01-06  30.98  31.55      31.65   0.003170
2021-01-07  31.65  32.83      32.93   0.003046
2021-01-08  32.93  32.82      32.47  -0.010664
...           ...    ...        ...        ...
2021-12-22  21.23  21.23      21.33   0.004710
2021-12-23  21.33  21.34      21.48   0.006560
2021-12-27  21.48  21.56      21.63   0.003247
2021-12-28  21.63  21.48      21.53   0.002328
2021-12-29  21.53  21.30      21.44   0.006573

[246 rows x 4 columns]

In [5]:
divs_df

             div_type     value
com_date
2021-01-22        JCP  0.050160
2021-01-29  Dividendo  0.015000
2021-02-25  Dividendo  0.096407
2021-02-25        JCP  0.050580
2021-02-26  Dividendo  0.015000
2021-03-25        JCP  0.050640
2021-03-31  Dividendo  0.015000
2021-04-27        JCP  0.056480
2021-04-30  Dividendo  0.015000
2021-05-24        JCP  0.048740
2021-05-31  Dividendo  0.015000
2021-06-30  Dividendo  0.015000
2021-07-30  Dividendo  0.015000
2021-08-13        JCP  0.103840
2021-08-31  Dividendo  0.015000
2021-09-30  Dividendo  0.015000
2021-10-29        JCP  0.017650
2021-11-19        JCP  0.264551
2021-11-30        JCP  0.017650
2021-12-30        JCP  0.017650